body{
    margin: 0;
}
.side-column{
    margin-top: 20px;
    color: black;
  
}

.contact-block{
    padding: 20px;
    margin-top: 20px;
}

.nav-block{
    margin: 20px 0px;
    margin-right: -33px;
}
.nav{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

/* .nav a{
    color: teal;
}

.nav a:hover{
    background-color: whitesmoke;
    color: violet;
} */
.text{
    font-size: 25px;
}
.form-column{
    background-color: whitesmoke;
    margin-bottom: 20px;
    padding: 40px;
}

.resume-link{
    color: lightblue;
}
.resume-link:hover{
    color: black;
    text-decoration: none;
}
.form-group{
    text-align: left;
}
.btn{
    background-color: lightblue;
    color: black;
}
.btn:hover{
    background-color: whitesmoke;
    border: 1px solid black;
    color: lightblue;
}

/* footer{
    padding: 20px;
    /* margin: 0; *
    background-color: #343a40;
}
.copyright{
    text-align: center;
}
.copyright p{
    margin: 0;
} */