body{
  margin: 0;
  font-family: 'Baloo Paaji 2', cursive;
}
.container-fluid{
    box-shadow: black;
}
.jumbotron{
    background-color: rgba(255, 255, 255, 0.05);
    color: black;
    border: 1px solid #b0b0b0;
}
.display-5{
    /* letter-spacing: 5px; */
}
.lead{
    letter-spacing: 5px;
}
.stack{
    color: lightblue;
}
.jumbotron hr{
    border: 2px solid black;
}

.nav-item:hover{
    list-style-type: none;
    background-color: lightblue;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: black;
}

.navbar-dark .navbar-brand{
    font-size: 1.5rem;
}
.jumbotron div{
    text-align: center;
    /* color: black; */
}
.jumbotron div img{
    border-radius: 50%;
    width: 200px;
}
.experience-block .card{
    background-color: transparent;
    color: black;
    padding: 20px;
}
.experience-block .card-body hr{
   border: 2px solid lightblue;
}
.experience-block .card-list{
    background-color: whitesmoke;
    color: black;
    /* border: 2px solid orange; */
    font-size: 14px;
}
.card-body{
    text-align: center;
}
.card-body .left-align{
    text-align: center;
}
.card-body .left-align a{
    text-decoration: none;
    color: teal;
}
.card-body .left-align li{
    font-size: 20px;
}
.card-body .left-align a:hover{
    color: violet;
}
.role-text{
    font-size: 20px;
}
.education-block{
    margin-top: 20px;
    background-color: whitesmoke;
}

.education-block .card-list{
    /* background-color: black; */
    color: black;
    /* border: 2px solid orange; */
}
.education-block .card-body hr{
    border: 2px solid black;
 }
.card-list{
    list-style: none;
}

.hire-me-block{
    margin-top: 20px;
}
.hire-me-block a{
    display: inline-block;
    background-color: rgb(2, 10, 53);
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}
footer{
    padding: 20px;
    background-color: #343a40;
}

.copyright{
    text-align: center;
}